/*--Base Styles--*/

	body {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		background-color: #2B0014 !important;
		color: white;
		touch-action: none;
	}


	#bodyContent{
		width: 100%;
		height: 100%;

		vertical-align: top;

		padding: 0 !important;
		margin: 0 !important;
		border: 0 !important;
	}

