extends layouts/adminLayout

block content
	.panel.panel-default
		.panel-heading
			| About
		.panel-body
			p
				| Created by 
				a(href='https://github.com/Selida95')
					| Elyas Page
				|, Based on by work done by Ed Chapman
