doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/vendor/css/bootstrap-theme.min.css')
		link(href="/vendor/css/bootstrap.min.css", rel="stylesheet")
		link(href="/css/report.css", rel="stylesheet")
	body
		block content
